@font-face {
	font-family: king-julian;
	src: url("/assets/fonts/JuliusSansOne-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: jet-brains;
	src: url("/assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.king-julian {
	font-family: king-julian;
}
.jet-brains {
	font-family: jet-brains;
}
